* {
  margin: 0;
  padding: 0;
}

:root {
  --shadows: 0px 0px 5px 2px rgba(50, 50, 0, 0.5);
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(255, 248, 239);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10vw;
  gap: 10vh;
  position: relative;
}

.trapezoid-container {
  position: absolute;
  filter: drop-shadow(0px 2px 5px rgba(50, 50, 0, 0.5));
  z-index: -1;
}

.trapezoid-background {
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
  background: linear-gradient(80deg,rgb(15, 112, 153), rgb(250, 149, 41),   rgb(3, 169, 94));
  top: 0;
  height: 65vh;
  width: 100vw;
}

header {
  position: relative;
}

.header-photo {
  background: radial-gradient(grey, rgb(255, 248, 239));
  height: 460px;
  width: 400px;
  margin: 10vh 20px 0 -1vw;
  box-shadow: var(--shadows);
  float: left;
}

.name {
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  top: calc((1vw + 2vh)) ;
  width: 365px;
}

.about {
  min-height: 330px;
  min-width: 200px;
  margin: 17vh -1vw 0 0;
  background-color: rgb(255, 248, 239);
  box-shadow: var(--shadows);
  font-size: 1rem;
}

.about > h3 {
  font-size: 2rem;
}
.about > * {
  padding: 1rem;
}

a {
  text-decoration: none;
}

.links {
  text-align: end;
}

.links img {
  height: 35px;
  transition: transform 0.3s ease-in-out;
}

.links img:hover,
.project-links img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

main {
  width: 80vw;
}

main > h2 {
  font-size: 2rem;
  margin-bottom: 2vw;
} 

.projects {
  display: grid;
  grid-template: repeat(auto-fit, minmax(200px, 400px)) / repeat(auto-fit, minmax(250px, 300px));
  grid-auto-rows: 400px;
  gap: 6vw;
  justify-content: space-evenly;
}

.project {
  box-shadow: var(--shadows);
  background: linear-gradient(45deg, rgb(250, 149, 41), rgb(15, 112, 153),  rgb(3, 169, 94));
}

.project h3 {
  text-align: center;
}

li {
  margin-left: 30px;
}

.project > a > img {
  width: 100%;
  height: 47%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.project > a > img:hover {
  transform: scale(1.5);
  object-fit: contain;
}

.project-headline {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.project-links{
  display: flex;
  gap: 20px;
  justify-content: center;
  height: 10%;
}

.project-links img {
  transition: transform 0.3s ease-in-out;
  height: 30px;
}

footer {
  align-self: flex-end;
  margin-top: 7vw;
  margin-bottom: 3vw;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.contact-info img {
  height: 50px;
}

.contact-info > p {
  display: flex;
  align-items: center;
}

.trapezoid-container-footer {
  position: absolute;
  bottom: 0;
  filter: drop-shadow(0px 2px 5px rgba(50, 50, 0, 0.5));
  z-index: -1;
}

.trapezoid-background-footer {
  clip-path: polygon(0 45%, 100% 0, 100% 100%, 0 100%);
  background: linear-gradient(80deg,rgb(15, 112, 153), rgb(250, 149, 41),   rgb(3, 169, 94));
  bottom: 0;
  height: 65vh;
  width: 100vw;
}

.icons-source {
  padding: 15px;
}

/* for tablets  */
@media (max-width: 900px) {
  .header-photo {
    max-height: 230px;
    max-width: 200px;
    margin-left: 0;
  }

  .header-photo>img {
    /* max-width: 100%; */
    height: 200px;
  }

  .name {
    left: 0;
    right: 0;
    margin: auto;
    top: 10vh;
  }
  
  .about {
    font-size: 1rem;
    margin-right: 7vw;
    margin-left: 7vw;
  }

  .project > a > img:hover {
    transform: none;
  }
}

/* for mobile phones  */
@media (max-width: 510px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-photo {
    margin-top: 150px;
    margin-left: 0;
    margin-right: 0;
    float: none;
  }

  .name {
    font-size: 2rem;
    width: 150px;
    top: 40px;
    text-align: center;
  }
  
  .about {
    font-size: 1rem;
    margin-top: 5vh;
    margin-left: 0;
    margin-right: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .about > h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .project > a > img:hover {
    transform: none;
  }

  footer {
    width: 150px;
    text-align: end;
  }
}
