* {
  margin: 0;
  padding: 0;
  /* border: 1px solid; */
}

:root {
  --shadows: 0px 0px 5px 2px rgba(50, 50, 0, 0.5);
}

body {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10vw;
  gap: 10vh;
}

.trapezoid-container {
  position: absolute;
  filter: drop-shadow(0px 2px 5px rgba(50, 50, 0, 0.5));
  z-index: -1;
}

.trapezoid-background {
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
  background-color: rgb(119, 184, 46);
  top: 0;
  height: 65vh;
  width: 100vw;
}

header {
  position: relative;
}

.header-photo {
  background-color: grey;
  min-height: 460px;
  min-width: 400px;
  margin: 10vh 20px 0 -1vw;
  box-shadow: var(--shadows);
  float: left;
}

.name {
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 365px;
}

.about {
  min-height: 330px;
  min-width: 200px;
  margin: 20vh -1vw 0 0;
  background-color: white;
  box-shadow: var(--shadows);
  font-size: 1rem;
}

.about > h3 {
  font-size: 2rem;
}
.about > * {
  padding: 1rem;
}

/* for tablets  */
@media (max-width: 800px) {
  .header-photo {
    min-height: 230px;
    min-width: 200px;
    margin-left: 0;
  }

  .name {
    left: 0;
    right: 0;
    margin: auto;
    top: 10vh;
  }
  
  .about {
    font-size: 1rem;
    margin-right: 7vw;
    margin-left: 7vw;
  }
}

/* for mobile phones  */
@media (max-width: 450px) {
  .header-photo {
    min-width: 0vw;
    min-height: 90vw;
    margin-left: 0;
    margin-right: 0;
    float: none;
  }

  .name {
    font-size: 2rem;
    width: 150px;
    top: 84vw;
    text-align: center;
  }
  
  .about {
    font-size: 1rem;
    margin-top: 5vh;
    margin-left: 0;
    margin-right: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .about > h3 {
    font-size: 1.5rem;
    text-align: center;
  }
}